svg {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #d3d3d3;
  background-color: #fff;

       -o-user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  cursor: default;

  fill: none;
  stroke: #000;
  stroke-width: 4px;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  cursor: pointer;

  stroke-width: 1.5px;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  pointer-events: none;
  font: 12px sans-serif;
}

text.id {
  font-weight: bold;

  text-anchor: middle;
}
